<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >

<listeners>
<listener class-name="com.NonKeyword_FutureReadyFramework.automation.customListener.ListenTest"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.NonKeyword_FutureReadyFramework.automation.testCases.TC01_LoginFunctionality"/>
      <class name="com.NonKeyword_FutureReadyFramework.automation.testCases.TC02_LoginFunctionality"/>
      <class name="com.NonKeyword_FutureReadyFramework.automation.testCases.TC03_LoginFunctionality"/>
       <class name="com.NonKeyword_FutureReadyFramework.automation.testCases.TC04_LoginFunctionality"/>
       </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
